/* src/components/NavBar.css */

.navbar {
  background: rgba(0, 0, 0, 0.507); /* Semi-transparent orange background */
      backdrop-filter: blur(10px); /* Apply blur effect */
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000; /* Ensure the navbar stays on top of other content */
  }
  
  .navbar-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70px;
      max-width: 1200px;
  }
  
  .navbar-logo {
      color: #fff;
      font-size: 60px;
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      font-weight: 700; /* Bold */
      letter-spacing: 0.10rem;
  }
  
  .navbar-menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  }
  
  .navbar-link {
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
      font-size: 18px;
  }
  
  .navbar-link:hover {
      text-decoration: underline;
  }